body, html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

#container {
  margin: 2em;
}

header {
  background-color: #669966;
  padding: 3%;
  border: 1px solid #000;
  margin-bottom:5%;
}

main {
  overflow:hidden;
}

nav {
  float: left;
  width: 10em;
  padding:2%;
  background-color: #99CC99;
  border: solid 1px #000;
}

aside {
  float: right;
  width: 12em;
  padding: 2%;
  background-color: #99CC99;
  border: solid 1px #000;
}

section {
  border: solid 1px #000;
  padding: 2%;
  background-color: #FFF;
  margin-left:14em;
  margin-right:16em;
  min-width:16em;
}

footer {
  background-color: #669966;
  padding: 3%;
  border: 1px solid #000;
  margin-top: 5%;
  text-align: center;
}

nav ul {
  list-style-type:none;
  padding-left:15%;
}