
    #palmtree {
      border:1px solid black;
      background-color: white;
      background-image: url(../images/palm-trees.jpg);
      background-repeat:no-repeat;
      background-position:top right;
      padding:.3em 13em .3em 1em;
    }
