table, th, td {
  border: 1px solid black;
}

table {
  border-collapse:collapse;
  width:50%;
}

th{
  text-align: left;
  background-color: gray;
  color: white;
  padding: 0.2em;
}

td {
  padding: 0.2em;
}


