table, th, td{ 
 border: none;
}

table{
 width: 600px; 
 border-collapse: collapse; 
} 

thead th{
 background-color: #000; 
 color: #fff;
}

tbody tr:nth-of-type(even){
 background-color: #F3F3F3;
}

tbody tr:nth-of-type(odd) {
 background-color:#ddd;
}

tbody td:nth-of-type(n+2){
 text-align: right;
}

tbody tr:last-of-type,  tbody td:last-of-type {
 font-weight: bolder;
}

tbody tr:last-of-type, tbody td:last-of-type{
 font-size:1.25em;
}

tbody tr:nth-last-of-type(2){
 color: red;
}

tbody tr:nth-last-of-type(-n+3) td{
 text-align: right;
}

tbody tr:hover 
{
 cursor:pointer;
 background-color: #808080;
 color: #dadada;
}

